In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv('../data/test.csv')
gt_df = pd.read_csv("../data/socialmedia-disaster-tweets-DFE.csv")

In [3]:
test_df.shape

(3263, 4)

In [4]:
gt_df = gt_df[['choose_one', 'text']]
gt_df['target'] = (gt_df['choose_one']=='Relevant').astype(int)
gt_df['id'] = gt_df.index

In [5]:
merged_df = pd.merge(test_df, gt_df, on='id')
merged_df

,id,keyword,location,text_x,choose_one,text_y,target
0,0,NaN,NaN,Just happened a terrible car crash,Relevant,Just happened a terrible car crash,1
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",Relevant,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",Relevant,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,Relevant,Apocalypse lighting. #Spokane #wildfires,1
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,Relevant,Typhoon Soudelor kills 28 in China and Taiwan,1
...,...,...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,Not Relevant,EARTHQUAKE SAFETY LOS ANGELES ‰ÛÒ SAFETY FASTE...,0
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,Relevant,Storm in RI worse than last hurricane. My city...,1
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,Relevant,Green Line derailment in Chicago http://t.co/U...,1
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,Relevant,MEG issues Hazardous Weather Outlook (HWO) htt...,1
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,Relevant,#CityofCalgary has activated its Municipal Eme...,1

In [6]:
subm_df = merged_df[['text_x', 'target']]
subm_df

                                                 text_x  target
0                    Just happened a terrible car crash       1
1     Heard about #earthquake is different cities, s...       1
2     there is a forest fire at spot pond, geese are...       1
3              Apocalypse lighting. #Spokane #wildfires       1
4         Typhoon Soudelor kills 28 in China and Taiwan       1
...                                                 ...     ...
3258  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...       0
3259  Storm in RI worse than last hurricane. My city...       1
3260  Green Line derailment in Chicago http://t.co/U...       1
3261  MEG issues Hazardous Weather Outlook (HWO) htt...       1
3262  #CityofCalgary has activated its Municipal Eme...       1

[3263 rows x 2 columns]

In [7]:
subm_df.to_csv('../data/test_labeled.csv', index=False, header=['text','target'])